<!--This file contains links to important site pages-->
<li><a href="/" id="link-Home">Home</a></li>
<li><a href="/link1" id="link-Link1">Link1</a></li>
<li><a href="/lin2" id="link-Link2">Link2</a></li>
<li><a href="/link3" id="link-Link3">Link3</a></li>