<!--This file contains a list of settings inputs that is shown in the side-nav-->
<li><div class="divider"></div></li>
<li><a class="subheader">Settings</a></li>
<li>
	<a href="#!">
		<label>
			<input type="checkbox" class="filled-in" checked="" id="setting1" />
			<span>Setting1</span>
		</label>
	</a>
</li>