<!--This file contains user management links for the side-nav-->
<li><div class="user-view">
	<div class="background">
		<img src="../images/logo.png">
	</div>
</div></li>

<li><a href="/login" class="unregistered-button"><i class="material-icons">login</i>Log in</a></li>
<li><a href="/new-user" class="unregistered-button"><i class="material-icons">person_add</i>Create Account</a></li>
<li><a href="/account" class="registered-button"><i class="material-icons">account_circle</i>My Account</a></li>