<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Website Base</title>
		<%- include('partials/head'); %>
	</head>
	<body>
		<%- include('partials/nav'); %>

		<div class="container">
			<h1 class="header">Website Base Homepage</h1>
			<a class="btn" href="/new-user"><i class="material-icons right">arrow_forward</i>Sign Up</a>
		</div>
	</body>
	<%- include('partials/dropdownscript'); %>
</html>