<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sign in</title>
		<%- include('partials/head'); %>
		<script src="scripts/login.js"></script>
	</head>

	<body>
		<%- include('partials/nav', {mobile: mobile}); %>

		<div class="row">
			<div class="col s12 m6">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Sign in</span>
						<div class="input-field">
							<label for="email">Email</label>
							<input type="email" id="email" name="email" >
						</div>
						<div class="input-field">
							<label for="password">Password</label>
							<input type="password" id="password" name="password" >
						</div>
						<div class="card-action">
							<div><button id="signin" class="waves-effect waves-light btn">Sign in</button></div>
							<div id="account">Need an account? <a href="/new-user">Register</a></div>
						</div>
					</div>
					<div class="card-panel" id="ServerResponse" style="display: none"></div>
				</div>
			</div>
		</div>

	</body>
	<%- include('partials/materializescript'); %>
</html>