<ul id='dropdown1' class='dropdown-content'>
	<li><a href="/login" id="signinbutton">Sign in</a></li>
</ul>

<nav>
	<div class="nav-wrapper">
	<a href="/" class="brand-logo left" style="height: 100%;" ><img id="logo" src="images/logo.png" style="height: 85%;"><span id="name">SiteName</span></a>
	<ul class="right ">
		<li><a class='dropdown-trigger btn' href='#' data-target='dropdown1'><i class="material-icons">more_vert</i></a></li>
	</ul>
	</div>
</nav>